<div class="bg-header-2">
        <div class="row pt-5 pb-3 mx-3">
            <div class="col-md-11 text-right slice-title">
                {{title}}
            </div>
        </div>
        <div class="row pt-2 pb-3 mx-0 no-pad">
            <!-- <swiper [slidesPerView]="2" [spaceBetween]="10" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
                <ng-container *ngFor="let item of items">
                    <ng-template swiperSlide>
                        <a class="d-block text-right" [routerLink]="item.url">
                            <img class="img-fluid" [src]="item.img" />
                            <div class="mt-2">
                                <span [innerHTML]="item.title"></span>
                                <span class="break">  |  </span>
                                <span>عدد الحلقات: {{item.number}}</span>
                                <span class="break"> | </span>
                                <span>يبدأ العرض في <span class="date"> {{item.date}}</span></span>
                            </div>
                            
                            <div *ngIf="item.isPlus" class="plus-lable">
                                <span>plus</span>
                                <i class="static-icon"></i>
                            </div>
                        </a>
                    </ng-template>
                </ng-container>
            </swiper> -->
            <div class="col-md-6 col-6" *ngFor="let item of items">
                <a class="d-block text-right" [routerLink]="item.url">
                    <img class="img-fluid" [src]="item.img" />
                    <div class="mt-2">
                        <span [innerHTML]="item.title"></span>
                        <span class="break">  |  </span>
                        <span>عدد الحلقات: {{item.number}}</span>
                        <span class="break"> | </span>
                        <span>يبدأ العرض في <span class="date"> {{item.date}}</span></span>
                    </div>
                    <div *ngIf="item.isPlus" class="plus-lable">
                        <span>plus</span>
                        <i class="static-icon"></i>
                    </div>
                </a>
            </div>
        </div>
</div>