.slice-title{
    color: white;
    font-size: 25px;
    padding-right: 0;
}
.slice-icon{
    padding-top: 10px;
    padding-left: 0px;
}
img{
    width: 100%;
    height: 250px;
 }
 a{
     color: #92989e;
     text-decoration: none;
     font-size: 14px;
     position: relative;
 }
 .vedio-icon{
    position: absolute;
    top: 100px;
    right: 45%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #92989e;
    padding: 8px 10px;
 }
 .plus-lable{
    font-size: 12px;
    background: #d1aa5d;
    padding: 0 3px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #654a1d !important;
    font-weight: 700 !important;
    position: absolute;
    top: 20px;
    right: 20px;
}
.break{
    padding: 10px;
}
.date{
    color: white;
    padding-right: 5px;
}
.no-pad{
    .col-md-6{
        &:first-child{
            padding-left: 5px !important;
        }
        &:last-child{
            padding-right: 5px !important;
        }
    }
    
}



