img {
    height: 530px !important;
    width: 100%;
}
.carousel{
    text-align: right;
}
.slider-content {
    position: relative;
    bottom: 150px;
    right: 10px;
}
.counter {
    color: white;
    font-weight: 600;
    position: absolute;
    left: 3%;
    top: 50%;
}
.details-con {
    text-decoration: none;
    color: white;
}

a {
    &:hover {
        text-decoration: none;
    }
}
.hint {
    color: #8e98ab;
}

.carousel-caption{
    text-align: unset !important;
}

.carousel-indicators {
    right: 71%;
    bottom: 33px;
    width: 93px;
    padding-right: 0px;
}

.carousel-control-prev,.carousel-control-next{
    top: 46%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity:1;
    &:hover{
     opacity: unset;
    }
}
.carousel-control-prev {
    left: 16%;
}

.carousel-control-next {
    right: 77%;
}
.sub-title{
    font-weight: 500;
}

@media (max-width: 575.98px) { 
    .carousel-caption {
        right: 0%;
        left: 0%;
    }
    .carousel-indicators {
        right: 51%;
    }
    .carousel-control-prev {
        left: 28%;
    }
    
    .carousel-control-next {
        right: 58%;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-caption {
        right: 0%;
        left: 0%;
    }
    .carousel-indicators {
        right: 51%;
    }
    .carousel-control-prev {
        left: 28%;
    }
    
    .carousel-control-next {
        right: 58%;
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-caption {
        right: 0%;
        left: 0%;
    }
    .carousel-indicators {
        right: 59%;
    }
    .carousel-control-prev {
        left: 22%;
    }
    
    .carousel-control-next {
        right: 67%;
    }

  }

@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-caption {
        right: 0%;
        left: 0%;
    }
    .carousel-control-prev {
        left: 17%;
    }
    
    .carousel-control-next {
        right: 75%;
    }
    .carousel-indicators {
        right: 65%;
    }
  }

  @media (min-width: 1199.98px) and (max-width: 1600.98px) {
    .carousel-caption {
        right: 0%;
        left: 0%;
    }
  }
