<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{'active': i == 0}" *ngFor="let item of items;index as i">
            <img class="d-block w-100" [src]="item.img" alt="...">
            <div class="container carousel-caption d-none d-md-block" style="display: flex !important;">
                <div>
                    <div [ngStyle]="{'visibility': item.live ? '':'hidden'}">
                        <button class="btn btn-red p-1"> <span><i class="static-icon"></i></span>يعرض
                        الان</button>
                    </div>
                    <h3 class="mt-2">{{item.title}}</h3>
                    <div class="sub-title">{{item.sub_title}}</div>
                </div>
                <div class="float-left">
                    <div class="counter float-left">{{i+1}} . {{items.length}}</div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span><i class="static-icon"></i></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span><i class="static-icon"></i></span>
                    </a>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="s" *ngFor="let item of items;index as s" [ngClass]="{'active': i == s}"></li>
                </ol>
            </div>
        </div>
    </div>
</div>