<div class="row m-0">
    <div class="col-md-12 p-0 bg-header-1">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light py-0">
                <button (click)="menuClick(1)" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="menu1">
                    <ul *ngIf="isLoggedIn()" class="navbar-nav ml-auto pr-0">

                        <li *ngIf="!userInfo?.royaplusSubscription" class="nav-item dropdown normal-subscription">
                            <div ngbDropdown class="d-inline-block">
                                <a class="nav-link dropdown-toggle align-right" href="javascript:void(0);" id="freeDropDown" ngbDropdownToggle>
                                    <span class="free-lable">free</span>
                                </a>
                                <div ngbDropdownMenu aria-labelledby="freeDropDown" class="dropdown-menu text-right pb-0">
                                    <div class="row m-0">
                                        <div class="col-md-12 p-0">
                                            <h5 class="pt-3 px-3"><b>انت تمتلك اشتراك مجاني</b></h5>
                                            <h6 class="px-3">في هذا الاشتراك:</h6>
                                            <ul class="ul mt-3 px-3 mb-2">
                                                <li>
                                                    <div class="row m-0">
                                                        <div class="col-md-1 p-0 text-center">
                                                            <i class="static-icon"></i>
                                                        </div>
                                                        <div class="col-md-11">
                                                            <span>لا يمكنك مشاهدة محتوى حصري, محتوى رمضان, مشاهدة الحلقات قبل أن تظهر على التلفزيون</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row m-0">
                                                        <div class="col-md-1 p-0 text-center">
                                                            <i class="static-icon"></i>
                                                        </div>
                                                        <div class="col-md-11">
                                                            <span>عدم القدرة على العودة 12 ساعة في البث المباشر</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row m-0">
                                                        <div class="col-md-1 p-0 text-center">
                                                            <i class="static-icon"></i>
                                                        </div>
                                                        <div class="col-md-11">
                                                            <span>لا يمكنك انشاء قائمة المسلسلات والافلام المفضلة اليك والاشعارات</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row m-0">
                                                        <div class="col-md-1 p-0 text-center">
                                                            <i class="static-icon"></i>
                                                        </div>
                                                        <div class="col-md-11">
                                                            <span>جودة المشاهدة 480P فقط</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="bg-roya-plus text-center pt-3 pb-4">
                                                <div class="row m-0">
                                                    <div class="col-md-12 px-4-5">
                                                        <img class="my-2" src="assets/images/default-img.gif" />
                                                        <h6 class="text-white mb-3">اشترك الآن وتمتع بكل مزايا ROYA<b>PLUS</b></h6>
                                                        <button class="btn btn-block btn-custom-gold mt-1">اشترك ROYA<b>PLUS</b></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li *ngIf="userInfo?.royaplusSubscription" class="nav-item dropdown plus-subscription">

                            <div ngbDropdown class="d-inline-block">
                                <a class="nav-link dropdown-toggle align-right" href="javascript:void(0);" id="plusDropDown" ngbDropdownToggle>
                                    <span class="plus-lable">plus <i class="static-icon"></i></span>
                                </a>
                                <div ngbDropdownMenu aria-labelledby="plusDropDown" class="dropdown-menu text-right">
                                    <div class="row m-0">
                                        <div class="col-md-12">
                                            <h5 class="pt-3">انت مشترك في ROYA<b>PLUS</b></h5>
                                            <h6>الباقة السنوية</h6>
                                            <p class="mb-2">قيمة اشتراكك السنوي <b>JOD 18.99</b></p>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="d-inline-block fs-14">
                                                <span>بدأ الاشتراك في <b>20/11/2020</b></span>
                                                <span>&nbsp; &nbsp; &nbsp;</span>
                                                <span>ينتهي في <b>20/11/2021</b></span>                                        
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="welcome">موقع قناة رؤيا الرسمي, <b>مرحبا بك</b></span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto pr-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">
                                <i class="static-icon"></i>
                            </a>
                        </li>

                        <li *ngIf="isLoggedIn()" class="nav-item dropdown">
                            <div ngbDropdown class="d-inline-block">
                                <a class="nav-link user-tab dropdown-toggle" href="javascript:void(0);" id="userDropDown" ngbDropdownToggle>
                                    <img [src]="userInfo?.img" />
                                    <span class="mx-2">مرحباََ, <span>{{userInfo?.username}}</span></span>
                                </a>

                                <div ngbDropdownMenu aria-labelledby="userDropDown">
                                    <button ngbDropdownItem>Action</button>
                                    <button ngbDropdownItem>Another Action</button>
                                    <div class="dropdown-divider"></div>
                                    <button ngbDropdownItem>Something else here</button>
                                </div>
                            </div>
                        </li>
                    
                        <li *ngIf="!isLoggedIn()" class="nav-item">
                            <a class="nav-link btn btn-black ml-2" routerLink="/auth/sign-in">
                                <i class="static-icon"></i>
                                تسجيل الدخول
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn btn-red" routerLink="/home">
                                <i class="static-icon"></i>
                                البث المباشر
                            </a>
                        </li>
                    </ul>
                </div>
              </nav>
        </div>
    </div>
</div>
<div class="m-0">
    <app-notification></app-notification>
</div>
<div class="row m-0">
    <div class="col-md-12 p-0 bg-header-2">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button (click)="menuClick(2)" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="menu2">
                    <ul class="navbar-nav ml-auto pr-0">
                        <li class="nav-item">
                            <a class="nav-link align-right" routerLink="/home">
                                <img class="logo-btn" src="assets/images/logo.png" />
                            </a>
                        </li>
                        <li class="nav-item" *ngFor="let item of mainMenu" [class.active]="menuItemIsActive(item)">
                            <a class="nav-link" [routerLink]="item.url" [innerHtml]="item.title"></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto pr-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">
                                <img class="share-btn" src="assets/images/share-btn.png" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">
                                <i class="static-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">
                                <i class="static-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-left" routerLink="/home">
                                <i class="static-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
              </nav>
        </div>
    </div>
</div>
<div *ngIf="isProgramPage || isSeriesPage" class="row m-0">
    <div class="col-md-12 p-0 bg-header-3">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button (click)="menuClick(3)" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="menu3">
                    <ul class="navbar-nav ml-auto pr-0">
                        <a class="nav-link align-right">
                            <span *ngIf="isProgramPage">البرامج</span>
                            <span *ngIf="isSeriesPage">مسلسلات</span>
                        </a>
                        <li class="nav-item" *ngFor="let item of secondList" [class.active]="secondListIsActive(item)">
                            <a class="nav-link" [routerLink]="item.url" [innerHtml]="item.title"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="ads-container">
    <div class="container">
        <div class="row m-0">
            <div class="col-md-7 p-0">
                <app-ad></app-ad>
            </div>
            <div class="col-md-5 p-0">
                <div class="img-con py-3 text-center">
                    <img class="pr-3" src="../../../../assets/images/share-image.PNG" />
                </div>
            </div>
        </div>
    </div>    
</div>