.bg-header-2 .nav-link{
    color: #ffffff;
}
.bg-header-2 img.logo-btn{
    width: 40px;
    height: auto;
}
.bg-header-2 img.share-btn{
    width: 65px;
    height: auto;
}
.bg-header-3 .nav-link{
    color: #8c9099;
}
.nav-link > span{
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
}
.navbar-nav{
    align-items: center;
}
.bg-header-2 .nav-item.active a::after{
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #982a9b;
    display: block;
    position: relative;
    bottom: -23px;
}
.bg-header-3 .nav-item.active a::after{
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #8c9099;
    display: block;
    position: relative;
    bottom: -24px;
}
.bg-header-1 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.free-lable{
    font-size: 14px !important;
    background: #fff;
    padding: 0 3px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #000000 !important;
    font-weight: 700 !important;
    transition: all 0.3s;
    &:hover{
        transition: all 0.3s;
        opacity: 0.9;
    }
}
.plus-lable{
    font-size: 14px !important;
    background: #d1aa5d;
    padding: 0 3px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #654a1d !important;
    font-weight: 700 !important;    
    &:hover{
        transition: all 0.3s;
        opacity: 0.9;
    }
}
.welcome{
    font-weight: normal !important;
    font-size: 16px !important;
}
.user-tab span{
    font-weight: normal;
    font-size: 16px;
}

.user-tab::after {
    border-top: 0.3em solid white;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    vertical-align: -0.255em;
    transition: all 0.3s;
}

.dropdown.show .user-tab::after {
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid white;
    border-left: 0.3em solid transparent;
    vertical-align: 0em;
    transition: all 0.3s;
}
.plus-subscription .dropdown-toggle::after,
.normal-subscription .dropdown-toggle::after{
    display: none;
}
.plus-subscription .dropdown-menu,
.normal-subscription .dropdown-menu{
    margin: 1rem 0 0;
    width: 23rem;
    right: 0;
    border-radius: 8px;
}

.plus-subscription .dropdown-menu::before,
.normal-subscription .dropdown-menu::before{
    content: " ";
    top: -16px;
    position: absolute;
    display: block;
    right: 16px;
    border-top: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5rem solid white;
    border-left: 0.5em solid transparent;
}
.ul{
    list-style: none;
    padding: 0;
    & li{
        padding-bottom: 15px;
    }
}
.fs-14{
    & b{
        font-size: 12px;
    }
}
.bg-roya-plus{
    background-color: #262835;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    & img{
        border-radius: 0;
        width: 50%;
        height: 40px;
        margin: 0 auto;
        display: block;
    }
}
.ads-container{
    background-color: #191e24;
    .row{
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
}
.img-con{
    img{
        width: 100%;
        height: 100px;
    }
}

@media only screen and (min-width: 992px) {
    .bg-header-2 .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.6rem;
        padding-left: 0.6rem;
    }
    .bg-header-3 .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .align-right{
        padding-right: 0 !important;
    }
    .align-left{
        padding-left: 0 !important;
    }
}