.slice-title{
    color: white;
    font-size: 25px;
    padding-right: 0;
    display: flex;
}
.slice-icon{
    padding-top: 10px;
    padding-left: 0px;
}
img{
    width: 100%;
    height: 250px;
 }
 a{
     color: #92989e;
     text-decoration: none;
     font-size: 14px;
     position: relative;
 }
 .vedio-icon{
    position: absolute;
    top: 100px;
    right: 30%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #92989e;
    padding: 8px 10px;
 }
 .plus-lable{
    font-size: 12px;
    background: #d1aa5d;
    padding: 0 3px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #654a1d !important;
    font-weight: 700 !important;
    position: absolute;
    top: 10px;
    right: 10px;
}

.live-icon{
    position: absolute;
    top: 13px;
    left: 10px;
    .btn-red{
        width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

.tab-title{
    color: white;
    font-size: 15px;
    padding-right: 0;
    max-width: 440px;
    position: relative;
    bottom: 10px;
    left: -5px;
    border-bottom: 1px solid #92989e;
}
.nav{
    padding-left: 7px !important;
    padding-right: 0;
    flex-wrap: nowrap;
}
.nav-item{
    margin-left: -15px !important;
    cursor: pointer;
    width: max-content;
}
.active{
    color: white;
    font-weight: 700;
    border-bottom: 2px solid white;
    padding-right: 5px !important;
    padding-left: 5px !important;
    border-radius: 1px;
    margin-bottom: -1px;
}

.home-episode{
    position: relative;
}
.ppp{
    &::after{
        box-shadow: -96px 17px 18px 103px #191e24;
            width: 35px;
            // border-radius: 50%;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            content: " ";
    }
}

