<div class="bg-header-2">
    <!-- <div class="container"> -->
    <div class="row pt-3 pb-3 mx-3">
        <div class="col-11 text-right slice-title">
            <span>{{title}}</span>
            <div class="tab-title" *ngIf="tabs">
                <ul class="nav">
                    <li class="nav-item" *ngFor="let item of tabs">
                        <a class="nav-link " [ngClass]="{'active': item.active}" (click)="selectTab(item)">{{item.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-1 slice-icon">
            <span><i class="static-icon"></i></span>
        </div>
    </div>
    <div class="row pb-3 mx-3 home-episode home-slider">
        <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [navigation]="true">
            <ng-container *ngFor="let item of data">
                <ng-template swiperSlide>
                    <a class="d-block text-right" [routerLink]="item.url">
                        <img class="img-fluid" [src]="item.img" />
                        <span *ngIf="item.isVedio" class="vedio-icon"><i class="static-icon"></i></span>
                        <span class="d-block mt-2" [innerHtml]="item.title"></span>
                        <div *ngIf="item.isPlus" class="plus-lable">
                            <span>plus</span>
                            <i class="static-icon"></i>
                        </div>
                        <div *ngIf="item.isLive" class="live-icon">
                            <button class="btn btn-red p-1"> <span><i class="static-icon"></i></span></button>
                        </div>
                    </a>
                </ng-template>
            </ng-container>
        </swiper>
    </div>
    
    <!-- </div> -->
</div>