<div class="bg-header-2">
    <!-- <div class="container"> -->
        <div class="row pt-3 pb-3 mx-3">
            <div class="col-11 col text-right slice-title">
                {{title}}
            </div>
            <div class="col-1 col slice-icon">
                <span><i class="static-icon"></i></span>
            </div>
        </div>
        <div class="row pb-3 mx-3 home-episode">
            <swiper [class]="className" [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [navigation]="true">
                <ng-container *ngFor="let item of items">
                    <ng-template swiperSlide>
                        <a class="d-block text-right" [routerLink]="item.url">
                            <img class="img-fluid" [src]="item.img" />
                            <span *ngIf="item.isVedio" class="vedio-icon"><i class="static-icon"></i></span>
                            <span class="d-block mt-2" [innerHtml]="item.title"></span>
                            <div *ngIf="item.isPlus" class="plus-lable">
                                <span>plus</span>
                                <i class="static-icon"></i>
                            </div>
                        </a>
                    </ng-template>
                </ng-container>
            </swiper>
        </div>
    <!-- </div> -->
</div>