.slice-title{
    color: white;
    font-size: 25px;
    padding-right: 0;
}
.slice-icon{
    padding-top: 10px;
    padding-left: 0px;
}
img{
    width: 100%;
    height: 150px;
 }
 a{
     color: #92989e;
     text-decoration: none;
     font-size: 14px;
     position: relative;
 }
 .vedio-icon{
    position: absolute;
    top: 50px;
    right: 40%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #92989e;
    padding: 8px 10px;
 }
 .plus-lable{
    font-size: 12px;
    background: #d1aa5d;
    padding: 0 3px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #654a1d !important;
    font-weight: 700 !important;
    position: absolute;
    top: 10px;
    right: 10px;
}

.home-episode{
    position: relative;
}



