.auth {
    background-image: url("../../assets/images/back.jpg");
    background-repeat: round;
    width: 100%;
    height: 100%;
    padding-bottom: 130px;
    padding-top: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    .box {
        border: 1px solid #5d6065;
        margin: auto;
        width: 35%;
        color: white;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 575.98px) {
    .auth {
        .box {
            width: 80%;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .auth {
        .box {
            width: 70%;
        }
    }
 }

@media (min-width: 767.98px) and (max-width: 991.98px) {
    .auth {
        .box {
            width: 60%;
        }
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .auth {
        .box {
            width: 50%;
        }
    }
}

@media (max-width: 1199.98px) {
}
