.stories-section{
    & a{
        text-decoration: none;
    }
    & img{
        width: 100%;
        border-radius: 50%;
        border: 1px solid #525252;
        padding: 7px;
    }
    & p{
        color: #7b8086;
        font-size: 14px;
    }
    & > div{
        transition: all 0.3s;
        &.active{
            transition: all 0.3s;
            & img{
                border: 2px solid #4c2346;
            }
        }
    }
    & a{
        & img{
            transition: all 0.3s;
        }
        &:hover img{
            padding: 0;
            transition: all 0.3s;
        }
    }
}
.schedule-slider{
    &::after{
        position: absolute;
        z-index: 10;
        content: "";
        width: 5000px;
        box-shadow: 5000px 0px 32px 30px #191e24;
    }
}