<div class="bg-header-2">
    <div class="schedule-slider">
        <app-schedule-slider></app-schedule-slider>
    </div>
    <div class="container">
        <div class="row stories-section m-0 py-4">
            <!--  -->
            <div *ngFor="let item of stories; let i = index" class="col-md-2 col-md-1-9" [class.active]="i < 2">
                <a class="d-block" href="javascript:void(0);" (click)="item.isToggled = !item.isToggled">
                    <img [src]="item.img" />
                    <p class="text-center mt-2" [innerHtml]="item.title"></p>
                </a>
                <app-story (toggleEmiter)="item.isToggled = false" [flag]="item.isToggled" [data]="item"></app-story>
            </div>
            <!--  -->
        </div>
        <!-- <div class="row m-0">
            <div class="col-md-12 p-0 py-5">
                <p class="text-center m-0 text-white" style="padding: 20rem 0;">Home Page</p>
            </div>
        </div> -->
<div class="row m-0">
    <div class="col-md-12 p-0 bg-header-2">
        <app-latest-episodes></app-latest-episodes>
        <app-new-programs></app-new-programs>
        <app-keep-watching></app-keep-watching>
        <app-soon-on-roya></app-soon-on-roya>
        <app-live-programs></app-live-programs>
        <app-series></app-series>
        <app-roya-app></app-roya-app>
        <app-caravan-plus></app-caravan-plus>
        <app-comedy-hour></app-comedy-hour>
        <app-roya-kitchen></app-roya-kitchen>
        <app-ramadan></app-ramadan>
        <app-mix></app-mix>
        <app-documentary></app-documentary>
        <app-children></app-children>
        <app-music></app-music>
        <app-news-section></app-news-section>
        <!-- <p class="text-center m-0 text-white" style="padding: 20rem 0;">Home Page</p> -->
    </div>
</div>