<a class="d-block text-right" [routerLink]="url">
    <img [src]="img" />
    <span class="d-block mt-2" [innerHtml]="title"></span>
    <div *ngIf="isPlus" class="plus-lable">
        <span>plus</span>
        <i class="static-icon"></i>
    </div>
</a>