img{
   width: 100%;
   height: 260px;
}
a{
    color: #92989e;
    text-decoration: none;
    font-size: 14px;
    position: relative;
}
.plus-lable{
    font-size: 12px;
    background: #d1aa5d;
    padding: 0 3px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #654a1d !important;
    font-weight: 700 !important;
    position: absolute;
    top: 15px;
    right: 15px;
}