<div class="sign-up-box p-5">
    <div class="auth-title-container">
        <p class="title">في اقل من دقيقة الرجاء استكمال معلوماتك الشخصية لاستكمال عملية التسجيل.</p>
    </div>
    <div class="upload-image">
        <div class="image-container">
            <img [src]="url">
            <a for="file-input"><i class="static-icon"></i></a>         
            <div class="image-upload">
                <label for="file-input">
                    <i class="static-icon"></i>
                </label>
                <input id="file-input" type="file" (change)="onFileChanged($event)" />
              </div>
        </div>
    </div>
    <div class="auth-body-container">
        <form class="needs-validation" ngNativeValidate [formGroup]="signupFormGroup">
            <div class="form-group">
                <div class="btn-group">
                    <div class="input-group-prepend" id="input-group-prepend" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" data-reference="parent">
                        <div class="input-group-text no-background" id="basic-addon">
                            <img [src]="selectedCountry.flag" alt="" />
                            <span class="pl-3 phone-text">{{selectedCountry.countryCode |countryCodeFormat}}</span>
                            <span class="vertical-line"></span>
                        </div>
                    </div>
                    <input type="phone_number" formControlName="phone_number" required
                        class="form-control float-right no-background" name="phone_number" id="phone_number"
                        placeholder="ادخل رقم الموبايل" />
                    <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuReference">
                        <li><input [(ngModel)]="query" formControlName="query" class="form-control search-input"
                            placeholder="بحث &#xF002;"></li>
                        <li (click)="selectCountry(item)" *ngFor="let item of countryList |search:'name,name_ar,countryCode':query">
                            <a class="dropdown-item">
                                <span class="country-code">{{item.countryCode}} </span> <span
                                    class="float-right">{{item.name_ar}}
                                    <img [src]="item.flag" class="dropdown-img"></span>
                            </a>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row form-group name-section">
                <div class="col">
                    <input type="text" formControlName="first_number" required class="form-control" name="first_number"
                        id="first_number" placeholder="الاسم الاول" />
                </div>
                <div class="col">
                    <input type="phone_number" formControlName="last_number" required class="form-control"
                        name="last_number" id="last_number" placeholder="اسم العائلة" />
                </div>
            </div>
            <div class="form-group">
                <input type="email" formControlName="email" required class="form-control" name="email" id="email"
                    placeholder="البريد الالكتروني" />
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon-password" (click)="showPassord = !showPassord;"><i
                                [class]="showPassord ? 'static-icon' : 'static-icon'" aria-hidden="true"></i></span>
                    </div>
                    <input [type]="showPassord ? 'text' : 'password'" formControlName="password" required
                        class="form-control no-right-radius" name="password" id="password" placeholder="انشاء كلمة سر" />
                </div>
            </div>
            <div class="form-group">
                  <input class="form-control" formControlName="DOP" placeholder="تاريخ الميلاد"  type="date" name="DOP" id="DOP">
              </div>
              <select name="cars" class="custom-select mb-3">
                <option value="male" selected>ذكر</option>
                <option value="female">انثى</option>
              </select>
            <button class="button-pink" type="submit" (click)="submit()" [disabled]="!signupFormGroup.valid">انشاء حساب جديد</button>
        </form>
    </div>
</div>