$phone-border-color: #373842;
.upload-image {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 25px;
    .image-container {
        position: relative;
        img {
            width: 85px;
            border-radius: 50%;
            height: 85px;
        }
        .static-icon {
            position: absolute;
            top: 55%;
            left: 40%;
            background-color: #8c2b9f;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
}
input{
    color: #8989a5 !important;
    font-weight: 400;
}
#basic-addon {
    color: white !important;
    border-right: 0px !important;
    border-left: 2px solid $phone-border-color !important;
}
.no-background {
    background: none !important;
    border: 0;
    border-top: 2px solid $phone-border-color !important;
    border-right: 2px solid $phone-border-color !important;
    border-bottom: 2px solid $phone-border-color !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.no-right-radius {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

select {
    height: 50px;
    direction: rtl;
}
.custom-select {
    background: #fff
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        left 0.75rem center/8px 10px no-repeat;

    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.name-section {
    direction: rtl;
    input {
        text-align: start !important;
    }
}

.image-upload {
    input {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
.search-input{
    color: black;
  }
  .scrollable-menu{
    width: 100%;
    height: 220px;
    overflow: auto;
  }
  .btn-group{
    width: 100%;
  }
  hr {
    margin: 0px 10px;
  }