<div class="p-5">
    <div class="auth-title-container">
        <p class="title">ستصلك رسالة رمز التفعيل على هذا الرقم لاتمام عملية التسجيل.</p>
        <span class="title bink">{{phoneNumber}}</span>
    </div>
    <div class="auth-body-container">
        <form class="needs-validation" ngNativeValidate [formGroup]="activateFormGroup">
            <div class="row input-container mx-0">
                <div class="col form-group px-1">
                    <input moveNextByMaxLength [nextElem]="'num_2'" (keyup)="keytab($event)" type="text" formControlName="num_1" maxlength="1"
                    required class="form-control" name="num_1" id="num_1" placeholder="0" />
                </div>
                <div class="col form-group px-1">
                    <input moveNextByMaxLength [nextElem]="'num_3'" (keyup)="keytab($event)" type="text" formControlName="num_2" maxlength="1"
                    required class="form-control" name="num_2" id="num_2" placeholder="0" />
                </div>
                <div class="col form-group px-1">
                    <input moveNextByMaxLength [nextElem]="'num_4'" (keyup)="keytab($event)" type="text" formControlName="num_3" maxlength="1"
                    required class="form-control" name="num_3" id="num_3" placeholder="0" />
                </div>
                <div class="col form-group px-1">
                    <input moveNextByMaxLength (keyup)="keytab($event)" type="text" formControlName="num_4" maxlength="1"
                    required class="form-control" name="num_4" id="num_4" placeholder="0" />
                </div>
            </div>
            <button class="button-pink" type="submit" (click)="submit()" [disabled]="!activateFormGroup.valid">تحقق</button>
        </form>
    </div>
    <div class="re-transmitter mt-3">
       <a>اعادة ارسال رمز التفعيل  </a>  <span *ngIf="showCounter"> {{counter | async}} </span>
    </div>
</div>