
.bink {
  color: #da27a9;
}
.input-container{
  direction: ltr;
}
.form-group {
  input {
    text-align: center;
    font-weight: 700;
  }
}

.re-transmitter{
  text-align: center;
  color: #d8dcdd;
  font-weight: 400;
}