<div class="bg-footer">
    <div class="container">
        <div class="scroll-to-top">
            <span class="icon" (click)="scrollToTop()"><i class="static-icon"></i></span>
        </div>
        <div class="row m-0">
            <div class="col-md-12">
                <div class="footer p-0">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 social-section">
                            <span class="vertical-line"></span>
                            <div class="icon">
                                <img class="footer-logo" src="assets/images/logo-footer.png" />
                            </div>
                            <div class="live mt-4">
                                <button class="btn btn-red px-2"> <i class="static-icon"></i> البث المباشر</button>
                            </div>
                            <div class="rights">
                                <p>جميع الحقوق محفوظة رؤيا @2021</p>
                                <div>
                                    <a href="#">شروط الاستخدام</a>,
                                    <a href="#">سياسة الخصوصية</a>
                                </div>
                            </div>
                            <div class="social-media">
                                <span>تابعنا عبر وسائل التواصل الاجتماعي</span>
                                <div class="row social-links">
                                    <a class="col-2"><i class="static-icon"></i></a>
                                    <a class="col-2"><i class="static-icon"></i></a>
                                    <a class="col-2"><i class="static-icon"></i></a>
                                    <a class="col-2"><i class="static-icon"></i></a>
                                    <a class="col-2"><i class="static-icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 tabs-section">
                            <span class="vertical-line"></span>
                            <ul>
                                <li *ngFor="let item of footerMenu">
                                    <a [routerLink]="item.url" [innerHtml]="item.title"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 frequencies-section">
                            <div class="row">
                                <div class="col-2">
                                    <span><i class="static-icon"></i></span>
                                </div>
                                <div class="col-10">
                                    <span>ترددات قناة رؤيا | نايل سات</span>
                                    <h4 class="color-white">SD 12398 V | HD 11957 H</h4>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-2">
                                    <span><i class="static-icon"></i></span>
                                </div>
                                <div class="col-10">
                                    <span>حمل تطبيق رؤيا وتحكم بمشاهدة ما تريد اينما تريد على بعد كبسة زر</span>
                                    <div class="row download-icon mt-2">
                                        <div class="col-6">
                                            <a href="#"><img src="https://roya.tv/img/jordan-star/GooglePlay.png"></a>
                                            <a href="#"><img src="https://roya.tv/img/royatv/app/huawei.png"></a>
                                        </div>
                                        <div class="col-6">
                                            <a href="#"><img src="https://roya.tv/img/jordan-star/iOS.png"></a>
                                            <a href="#"><img src="https://roya.tv/img/royatv/app/tvs.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-2">
                                    <span><i class="static-icon"></i></span>
                                </div>
                                <div class="col-10">
                                    <span>لمشاهدينا في الامارات العربية المتحدة, تابعونا عبر القنوات التالية</span>
                                    <div class="row Channels mt-2 mx-0">
                                        <div class="col box">
                                            <span><i class="static-icon"></i> قناة رقم 116</span>
                                        </div>
                                        <div class="col box">
                                            <span><i class="static-icon"></i> قناة رقم 691</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 roya-plus-section">
                            <div class="title">
                                <h1><span class="weight-100">ROYA</span>PLUS <i class="static-icon"></i></h1>
                            </div>
                            <p class="mt-4">شاهد العروض والمسلسلات والافلام في اي وقت وفي اي مكان بدون الفواصل الاعلانية</p>
                            <div class="submit-button mt-4">
                                <button class="btn">اشترك <span class="weight-100">ROYA</span>PLUS </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>