$font-mediam: 17px;
$font-small: 14px;
.footer-logo{
    width: 80px;
}
.scroll-to-top{
    text-align: center;
    background-color: #26303a;
    .icon{
        position: relative;
        bottom: 13px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        padding-top: 5px;
        width: 40px;
        height: 40px;
        display: inline-block;
    }
}
.footer {
    background-color: #26303a;
    font-size: $font-mediam;
    color: #c6c7ca;
    padding: 5% 8%;
    text-align: right;
    margin-bottom: 50px;
    .social-section {
        .rights {
            line-height: 0.5;
            font-size: $font-small;
            color: #7b8996;
            margin-top: 60px;
            a {
                text-decoration: underline;
                color: #7b8996;
            }
        }
        .social-media {
            margin-top: 65px;
            span{
                font-weight: 500;
            }
            .social-links {
                color: white;
                a{
                    cursor: pointer;
                    &:hover{
                        text-decoration: none;
                    }
                }
                i {
                    font-size: 30px;
                }
            }
        }
    }
    .tabs-section {
        a{
            color: white;
            &:hover{
                text-decoration: none;
            }
        }
        ul {
            padding-right: 0px;
            position: relative;
            top: -5px;
            li {
                list-style-type: none;
                margin-top: 15px;
            }
        }
    }
    .frequencies-section {
        h4{
            font-size: 22px;
        }
        p {
            color: #7b8996;
        }
        .download-icon {
            div {
                line-height: 3;
            }
            img {
                width: 100%;
                height: 40px;
            }
        }
        .col-10,.col-2 {
            margin-left: -20px;
        }
    }
    .roya-plus-section {
        background-color: #191e24;
        text-align: center !important;
        height: 360px;
        .title {
            color: #d9b668;
            margin-top: 70px;
            h1 {
                font-weight: 700;
            }
        }
        .weight-100 {
            font-weight: 100;
        }
        .weight-700 {
            font-weight: 700;
        }
        .submit-button {
            button {
                color: black !important;
                background-color: #e4cd81;
                background-image: linear-gradient(270deg, #e4cd81 25%, #d1a355 75%);
                width: 90%;
                font-weight: 700;
                height: 50px;
                font-size: $font-mediam;
                border-radius: 2px;
            }
        }
    }
    .vertical-line {
        width: 1px;
        background-color: #454c52;
        height: 9%;
        float: left;
    }
    .box {
        background-color: #191e24;
        padding: 7px;
        margin-left: 10px;
        i{
            float: left;
        }
        span{
            padding-right: 0px;
        }
    }
    .color-white{
        color: white;
    }
}
.bg-footer{
    background-color: #26303a;
}