<!-- make a time bar to see rest time for each slide  -->
<!-- swinging -->
<div class="fav-pop pop-up-up-to-bottom overflow-auto" [class.active]="flag">
    <div class="row m-0 py-3">
        <div class="col-md-6 text-right">
            <a (click)="toggle()" href="javascript:void(0);">
              <i class="static-icon"></i>
            </a>
        </div>
        <div class="col-md-6 text-left">
          <i class="static-icon"></i>
        </div>
    </div>
    <div class="container w-100 pt-0 pb-1">
        <div class="w-100 row m-0">
          <div class="col-md-12 p-0">
            <ngb-carousel
            #storyCarousel
            [wrap]="true"
            (slid)="beforeSlideChange($event)"
            [class]="sliderClass"
            [interval]="interval"
            [pauseOnFocus]="false"
            [pauseOnHover]="false"
            [style.width.px]="sliderWidth"
            *ngIf="enableSlider"
            >
              <ng-template ngbSlide *ngFor="let slide of slider; let i = index" id='ngb-slide-{{i}}'>
                <div class="picsum-img-wrapper">
                  <img [src]="slide.img" [alt]="slide.title" [title]="slide.title" />
                </div>
                <div class="carousel-caption">
                  <div class="user">
                    <span>{{data?.title}}</span>
                    <img [src]="data?.img" />
                  </div>
                  <h3 [innerHtml]="slide.title"></h3>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
    </div>
  </div>