<div class="bg-header-2 pl-5 mt-5">
    <div class="row justify-content-end mb-4 pb-3 mx-3 app-container">
        <div class="col-md-5 col details-box">
            <div>
                <h2 class="weight-400">خلي مشاهدتك مختلفة</h2>
                <h2>وحمل تطبيق Roya TV</h2>
            </div>
            <div class="image-container mt-4">
                <img src="https://roya.tv/img/jordan-star/GooglePlay.png">
                <img src="https://roya.tv/img/jordan-star/iOS.png">
            </div>
        </div>
    </div>
</div>