.app-container {
    background-image: url("../../../../../../assets/images/roya-app-back.jpg");
    background-repeat: round;
    width: 100%;
    height: 400px;
    padding-bottom: 130px;
    padding-top: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: white;
}

.bg-header-2{
    padding-left: 35px !important;
}

.details-box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.weight-400{
    font-weight: 400;
}

.image-container{
    img{
        width: auto;
        height: 45px;
        margin-left: 8px;
        margin-right: 8px;
    }
    
}
.roya-app{
    text-align: center;
    img{
        height: 315px;
    width: 270px;
    margin-top: 78px;
    }
    
}