<div class="p-5">
  <div class="auth-title-container">
    <p class="title">إعادة تعيين كلمة سر جديدة</p>
  </div>
<div class="auth-body-container">
    <form class="needs-validation" ngNativeValidate [formGroup]="forgotPasswordFormGroup">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-password" (click)="showPassord = !showPassord;"><i
                [class]="showPassord ? 'static-icon' : 'static-icon'" aria-hidden="true"></i></span>
          </div>
          <input [type]="showPassord ? 'text' : 'password'" formControlName="password" required class="form-control"
            name="password" id="password" placeholder="ادخل كلمة سر جديدة" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-password" (click)="showConfirmPassord = !showConfirmPassord;"><i
                [class]="showConfirmPassord ? 'static-icon' : 'static-icon'" aria-hidden="true"></i></span>
          </div>
          <input [type]="showConfirmPassord ? 'text' : 'password'" formControlName="confirmPassword" required class="form-control"
            name="confirmPassword" id="confirmPassword" placeholder="اعادة كلمة السر" />
        </div>
      </div>
      <div class="err-msg" *ngIf="forgotPasswordFormGroup.errors?.mismatch && (forgotPasswordFormGroup.controls['confirmPassword'].dirty || forgotPasswordFormGroup.controls['confirmPassword'].touched)">
        .كلمات المرور غير متطابقة
      </div>
      <button class="button-pink" type="submit" (click)="submit()"  [disabled]="!this.forgotPasswordFormGroup.valid">تعيين</button>
    </form>
  </div>
  </div>