.ad-slot{
    width: 100%;
    padding: 2.37rem 0;
    border: 1px dashed #0b0e13;
    margin: 0 auto;
    background-color: #3a3c48;
    & small{
        font-size: 12px;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        opacity: 0.5;
    }
}