.auth-title-container {
  .title {
      max-width: 350px;
  }
}
.form-group {
  input {
    border: 0;
  }
}
hr {
  margin: 0px 10px;
}
.phone-text{
  color: black;
}
.social-login {
  text-align: center;
  font-weight: 500;
  margin-top: 40px;
  .boxs-container {
    margin-right: -7px;
    margin-left: -7px;
    .box {
      background-color: #30343d;
      margin: 5px;
      border-radius: 2px;
      cursor: pointer;
      height: 50px;
      padding: 10px 10px;
      i {
        padding-left: 5px;
      }
      a {
        padding-right: 0px;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: #30343d;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.rights {
  margin-top: 50px;
  text-align: center;
  font-size: 13px !important;
  color: #7b8996;
  font-weight: 500;
  a {
    text-decoration: none;
    color: #adadad;
  }
}
.forget-password {
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: #adadad;
}
.search-input{
  color: black;
}
.scrollable-menu{
  width: 100%;
  height: 220px;
  overflow: auto;
}
.btn-group{
  width: 100%;
}
@media only screen and (max-width: 768px) {
  form {
    .form-group {
      .input-group-prepend0 {
        .input-group-text {
          padding-left: 10px;
        }
      }
    }
  }
}
