<div class="p-5">
  <section *ngIf="phoneNumberSection">
    <div class="auth-title-container">
      <p class="title">الرجاء ادخال رقم الموبايل لمتابعة عملية التسجيل</p>
    </div>
    <div class="auth-body-container">
      <form class="needs-validation" id="login-form" ngNativeValidate [formGroup]="loginFormGroup">
        <div class="form-group">
          <div class="btn-group">
            <div class="input-group-prepend" id="input-group-prepend" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" data-reference="parent">
              <div class="input-group-text" id="basic-addon">
                <img [src]="selectedCountry.flag" alt="" />
                <span class="pl-3 phone-text">{{selectedCountry.countryCode |countryCodeFormat}}</span>
                <span class="vertical-line"></span>
              </div>
            </div>
            <input type="phone_number" formControlName="phone_number" required class="form-control float-right"
              name="phone_number" id="phone_number" placeholder="ادخل رقم الموبايل" />
            <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuReference">
              <li><input [(ngModel)]="query" formControlName="query" class="form-control search-input"
                  placeholder="بحث &#xF002;"></li>
              <li (click)="selectCountry(item)" *ngFor="let item of countryList |search:'name,name_ar,countryCode':query">
                <a class="dropdown-item">
                  <span class="country-code">{{item.countryCode}} </span> <span class="float-right">{{item.name_ar}}
                    <img [src]="item.flag" class="dropdown-img"></span>
                </a>
                <hr>
              </li>
            </ul>
          </div>
        </div>
        <button class="button-pink" type="submit" (click)="continue()" [disabled]="!this.loginFormGroup.value.phone_number">متابعة</button>
      </form>
    </div>
    <div class="social-login">
      <div>
        <div class="strike">
          <span>او يمكنك التسجيل عبر</span>
        </div>
      </div>
      <div class="row boxs-container mt-2">
        <div class="col box">
          <a><i class="static-icon"></i>فيس بوك</a>
        </div>
        <div class="col box">
          <a><i class="static-icon"></i>جوجل</a>
        </div>
        <div class="col box">
          <a><i class="static-icon"></i>تويتر</a>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="passswordSection">
    <div class="auth-title-container">
      <p class="title">انت تمتلك حساب سابق.</p>
      <span class="sub-title">الرجاء ادخال كلمة السر لمتابعة عملية التسجيل</span>
    </div>
    <div class="auth-body-container">
      <form class="needs-validation" id="login-form" ngNativeValidate [formGroup]="loginFormGroup">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-password" (click)="showPassord = !showPassord;"><i
                  [class]="showPassord ? 'static-icon' : 'static-icon'" aria-hidden="true"></i></span>
            </div>
            <input [type]="showPassord ? 'text' : 'password'" formControlName="password" required class="form-control"
              name="password" id="password" placeholder="ادخل كلمة المرور" />
          </div>
        </div>
        <button class="button-pink" type="submit" (click)="continue()" [disabled]="!this.loginFormGroup.value.password">تسجيل</button>
      </form>
    </div>

    <div class="forget-password">
      <p (click)="goToForgotPassword()">نسيت كلمة المرور؟</p>
    </div>

  </section>
  <div class="rights">
    <span>بالتسجيل انت توافق على</span>
    <div>
      <a href="#"> شروط الاستخدام </a>و
      <a href="#">سياسة الخصوصية</a>
    </div>
  </div>
</div>