<div class="bg-header-2">
    <div class="container">
        <div class="row pt-5 pb-3 mx-3">
            <div class="col-md-2 px-1 mb-5" *ngFor="let item of items">
                <app-list-item
                [id]="item.id"
                [url]="item.url"
                [img]="item.img"
                [title]="item.title"
                [isPlus]="item.isPlus"
                ></app-list-item>
            </div>
        </div>
    </div>
</div>