
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$roya-tv-primary: mat-palette($mat-indigo);
$roya-tv-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$roya-tv-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$roya-tv-theme: mat-light-theme((
  color: (
    primary: $roya-tv-primary,
    accent: $roya-tv-accent,
    warn: $roya-tv-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($roya-tv-theme);
// 
// 
// 
.mat-form-field{
    background-color: white !important;
    width: 70px !important;
    text-align: left !important;
    // color: white;
}

.mat-form-field-label-wrapper{
    background-color: white !important;
}

.cdk-overlay-pane{
    top: 201.75px !important;
}

.mat-select-search-input{
    border-radius: 25px !important;
    border: 1px solid !important;
    height: 27px !important;
    margin-top: 7px !important;
    width: 100% !important;
}