<mat-form-field class="w-100">
    <mat-select (selectionChange)="onChange($event)" [formControl]="selectCtrl" name="selectCtrl" [placeholder]="placeholder" #singleSelect [disabled]="disabled">
        <mat-option>
            <ngx-mat-select-search
            [formControl]="searchFilterCtrl"
            name="searchFilterCtrl"
            [noEntriesFoundLabel]="'No results found'"
            placeholderLabel=""
            >
            </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
            {{item.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<div *ngIf="!selectCtrl?.value?.id && isRequired && isSubmitted" class="validation d-block w-100">{{validationMsg}}</div>