<a href="javascript:void(0);" (click)="signInWithFB()" class="facebook">
  <i class="fa fa-facebook"></i>
</a>
<a href="javascript:void(0);" (click)="signInWithGoogle()" class="google">
  <i class="fa fa-google"></i>
</a>