<div class="alert alert-success mb-0" role="alert" *ngIf="showMessage">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
