<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" [fullScreen]="true" color="#fff" type="ball-clip-rotate-multiple" size="medium">
    <p style="color:white" [translate]="'SHARED.LOADING'"></p>
</ngx-spinner>