/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
@import "~swiper/swiper-bundle";
.static-icon{
    font-style: normal;
    font-size: 18px;
    &::after {
        content: "\2664";
    }
}
.bg-header-1 {
    background-color: #22292f;
}
.bg-header-2 {
    background-color: #191e24;
}
.bg-header-3 {
    background-color: #0b0e13;
}
.btn-red {
    background-color: #fe5165;
    padding: 0;
    color: #ffffff !important;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s;
    &:hover {
        opacity: 0.9;
        transition: all 0.3s;
    }
    &:hover,
    &:focus,
    &:active {
        box-shadow: unset;
    }
}
.btn-black {
    background-color: #1c1c1c;
    padding: 0;
    color: #ffffff !important;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s;
    &:hover {
        opacity: 0.9;
        transition: all 0.3s;
    }
    &:hover,
    &:focus,
    &:active {
        box-shadow: unset;
    }
}
.btn-custom-gold {
    background: rgb(228, 205, 129);
    background: linear-gradient(270deg, rgba(228, 205, 129, 1) 25%, rgba(209, 163, 85, 1) 75%);
    color: #ffffff !important;
    padding: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 2px;
    font-size: 15px;
    transition: all 0.3s;
    &:hover {
        opacity: 0.9;
        transition: all 0.3s;
    }
    &:hover,
    &:focus,
    &:active {
        box-shadow: unset;
    }
}
.px-4-5 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.normal-font-weight {
    font-weight: 400;
}
.col-md-1-9{
    flex: 0 0 11.11111111111111%;
    max-width: 11.11111111111111%;        
}
// 
// 
.pop-up-up-to-bottom{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #191e24;
    transition: all 0.3s;
    top: -100%;
    left: 0;
    z-index: 1000;
    & > .container{
      width: 65%;
    }
    &.active{
      top: 0;
      transition: all 0.3s;
    }
    &> h3{
      & a{
        font-size: 22px;
        text-decoration: none;    
        transition: all 0.3s;
        display: inline-block;
        & i::before{
          color: black;
        }
      }
      & a:hover{
        transform: rotate(180deg);
        transition: all 0.3s;
      }
    }
  }
  app-story{
    & ngb-carousel{
      outline: none;
      display: block;
      margin: 0 auto;
        & .carousel-item {
          display: block !important;
          z-index: 1;
          position: absolute;
          opacity: 0;
          transition: opacity 0.2s ease-in-out, visibility 1s;
          visibility: hidden;
      }
      & .carousel-item.active {
          position: relative;
          opacity: 1;        
          transition: opacity 0.2s ease-in-out, visibility 1s;
          visibility: visible;
      }
    }
    & .carousel-control-prev,
    & .carousel-control-next{
      & span{
        display: none;
      }      
    }
    & .first_slide .carousel-control-prev{
        opacity: 0 !important;
        transition: all 0.3s;
        display: none;
    }
    & .last_slide .carousel-control-next{
        opacity: 0 !important;
        transition: all 0.3s;    
        display: none;
    }
    & img{
      border-radius: 5px;
      width: 100%;
    }
    & .carousel-indicators li {
      height: 5px;
      border-radius: 15px;
      border-top: 0;
      border-bottom: 0;
    }
    & .carousel-indicators li{
      background-color: #5f5f5f;
      opacity: 1;
      &.active{
        background-color: #ffffff;        
      }
    }
    & .carousel-indicators {
      direction: ltr;
      margin-right: 0;
      margin-left: 0;
      padding: 0;
      width: 95%;
      margin: 0 auto;
      top: 15px;
      bottom: unset;
    }
    & .carousel-caption{
      height: 100%;
      bottom: 0 !important;
      top: unset !important;
      width: 100%;
      left: 0;
      right: 0;
      text-align: right;
      padding: 0 4rem;
    }
    & .carousel-indicators > li{
      background-color: white;
    }
    & .carousel-indicators > li.active ~ li{
      background-color: #5f5f5f;
    }
    & h3 {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -8px;
      font-size: 15px;
      padding: 0 25px 3rem 25px;
      font-weight: normal;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background: linear-gradient(0deg, rgba(25, 30, 36, 0.4) 25%, rgba(255, 255, 255, 0) 100%);
    }
    .user{
      position: absolute;
      width: 100%;
      top: 2rem;
      text-align: left;
      right: 0;
      font-size: 14px;
      padding-left: 15px;
      & img{
        border-radius: 50%;
        width: 40px;
        margin-right: 10px;
    }
  }
}
    
.err-msg {
    // color: red;
    margin: 10px 0 15px 0px;
    font-size: 15px;
}
.button-pink {
    display: block;
    width: 100%;
    border: 0;
    height: 55px;
    background-color: #7b29a2;
    background-image: linear-gradient(270deg, #f406b9 25%,#8028a0  75%);
    font-weight: 500;
    margin-top: 3px;
    border-radius: 2px;
    color: white;
}
.button-pink[disabled] {
    color: #847f89;
}
.auth-title-container {
    line-height: 0.5;
    margin-bottom: 35px;
    .title {
        font-size: 23px;
        font-weight: 500;
        line-height: 1.5;
    }
    .sub-title {
        font-size: 15px;
    }
}
.auth-body-container {
    direction: ltr;
    input {
        height: 55px;
        border-radius: 2px;
        text-align: end;
        color: black    ;
        padding-right: 20px;
        &:focus{
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    .vertical-line {
        width: 0.5px;
        background-color: darkgray;
        height: 60%;
        float: left;
        position: relative;
        left: 16%;
    }
    .dropdown-img {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        position: relative;
        margin-right: -10px;
    }
    .dropdown-item:active {
        color: #212529;
        background-color: white;
    }
    .dropdown-item {
        transition: all 0.3s;
        height: 45px;
        cursor: pointer;
        .country-code {
            color: #4ac07f;
            position: relative;
            top: 10px;
        }
        & span.float-right {
            margin-top: 2px;
        }
        &:hover,
        &:focus {
            transition: all 0.3s;
            background-color: #f7f7f7;
        }
    }
    .search-input {
        border-radius: 50px !important;
        border: 1px solid #f1f1f3;
        height: 30px;
        margin: 7px 18px;
        width: 90%;
        background-color: #f1f1f3;
        color: #cac9ce;
    }
    .input-group-prepend {
        cursor: pointer;
        #basic-addon {
          background: white;
          padding-left: 20px;
          border: 0;
          border-top-right-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
          border-radius: 2px;
          button {
            border: none;
            padding-bottom: 4px;
          }
          img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
          }
        }
        #basic-addon-password {
            background: white;
            border: 0;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }
        
      }
      .input-group{
        input{
            border: 0;
        }
      }
      .phone-text{
          font-weight: 600;
      }
      
}


.home-episode {
    .swiper-button-prev,
    .swiper-button-next {
        top: 43%;
        color: black !important;
        background-color: white;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        &::after {
            font-size: 25px !important;
            font-weight: 700;
        }
    }
    .swiper-button-next {
        left: -21px;
        right: auto;
        &::after {
            content: "\2664";
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .swiper-button-prev {
        left: auto;
        right: -21px;
        &::after {
            content: "\2664";
        }
    }
    .swiper-wrapper {
        width: 2000px;
    }
    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
        display: none;
        opacity: 1;
    }
    .swiper-button-prev.swiper-button-disabled{
        display: none;
    }
    .swiper-container{
        position: unset;
    }
    .swiper-container{
        &::before{
            position: absolute;
            z-index: 10;
            content: "";
            // box-shadow: -69px 80px 17px 91px #191e24;
            box-shadow: -69px 80px 14px 95px #191e24;
        }
    }
    
}
.home-slider{
    .swiper-container{
        &::before{
            position: absolute;
            z-index: 10;
            content: "";
            height: 110px;
            // box-shadow: -69px 70px 17px 91px #191e24;
            box-shadow: -63px 72px 15px 88px #191e24;
        }
    }
}

