.slice-title{
    color: white;
    font-size: 25px;
    padding-right: 0;
    display: flex;
}
.slice-icon{
    padding-top: 10px;
    padding-left: 0px;
}
 a{
     color: #92989e;
     text-decoration: none;
     font-size: 14px;
     position: relative;
 }
.bg-header-2 {
    border: 1px solid;
    padding-right: 20px;
}
.tab-title{
    color: white;
    font-size: 15px;
    padding-right: 0;
    // max-width: 440px;
    position: relative;
    bottom: 5px;
    right: 20px;
    border-bottom: 3px solid #20252b;
}
.nav{
    padding-left: 7px !important;
    padding-right: 0;
    flex-wrap: wrap;
}
.nav-item{
    cursor: pointer;
    a{
        font-size: 17px !important;
        font-weight: 400;
    }
}
.active{
    color: white;
    font-weight: 700;
    border-bottom: 2.5px solid white;
    padding-right: 5px !important;
    padding-left: 5px !important;
    border-radius: 1px;
    margin-bottom: -2px;
}
.news-section{
    text-align: right;
    color: #92989e;
    .news-type{
        font-size: 13px;
    font-weight: 700;
    }
    .news-title{
        color: white;
        font-size: 15px;
        font-weight: 600;
    }
    .last-section{
        .news-details{
            border-bottom: 3px solid #20252b;
            padding-bottom: 25px;
            padding-top: 20px;
            &:first-child{
                padding-top: 0px;
            }
            &:last-child{
                border-bottom: 0px;
            }
        }
    }
}

.border-left{
    border-left: 3px solid #20252b !important;
}



