<div class="bg-header-2 mb-5 mx-3">
    <div class="row pt-4 pb-3 mx-3">
        <div class="col-md-11 text-right slice-title">
            <span>اخبار منوعة</span>
            <div class="row tab-title">
                <ul class="nav">
                    <li class="nav-item" *ngFor="let item of tabs">
                        <a class="nav-link " [ngClass]="{'active': item.active}" (click)="selectTab(item)">{{item.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-1 slice-icon">
            <span><i class="static-icon"></i></span>
        </div>
    </div>
    <div class="row pt-2 pb-3 mx-0 news-section">
        <div class="col-md-6 col-12 border-left">
            <div >
                <img class="img-fluid" src="https://img.roya.tv/imageserv/Size1920Q70/programs/stream/T415X1K0NBLsSWgILa8mkxuMcWnhVDigynSqFaO1.jpeg">
            </div>
            <div class="news-details mt-5">
                <p class="news-type">فن ومشاهير | منذ 20 ساعة</p>
                <p class="news-title mt-2">عمرو دياب يطلق اغنيته المنتظرة "اماكن السهر" .. ودينا الشربيني موديل كليب..</p>
                <p>وفي جانب تشويق منه لجمهوره ظهر في برومو برفقة دينا الشربيني وكتب معلقا "ولعت ولسه هتولع اكثر!.. اتفرجو على برومو فيديو اغنية "اماكن السهر" الجديدة! وخليكو جاهزين للي جاي "</p>
            </div>
        </div>
        <div class="col-md-3 col-12 border-left">
            <div>
                <div>
                    <img class="img-fluid" src="https://img.roya.tv/imageserv/Size1920Q70/programs/stream/T415X1K0NBLsSWgILa8mkxuMcWnhVDigynSqFaO1.jpeg">
                </div>
                <div class="news-details mt-2">
                    <p class="news-type">فن ومشاهير | منذ يومين</p>
                    <p class="news-title mt-2">مالك مكتبي ل رؤيا الاردنية "الحياة سوف تنتصر على الموت ورائحة الدماء قناة رؤيا</p>
                </div>
            </div>
            <div class="mt-5">
                <div>
                    <img class="img-fluid" src="https://img.roya.tv/imageserv/Size1920Q70/programs/stream/T415X1K0NBLsSWgILa8mkxuMcWnhVDigynSqFaO1.jpeg">
                </div>
                <div class="news-details mt-2">
                    <p class="news-type">فن ومشاهير | منذ 20 ساعة</p>
                    <p class="news-title mt-2">عمرو دياب يطلق اغنيته المنتظرة "اماكن السهر" .. ودينا الشربيني موديل كليب..</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 last-section">
            <div class="news-details">
                <p class="news-type">فن ومشاهير | منذ 20 ساعة</p>
                <p class="news-title mt-2">زين عبيد نجم ذا فويس كيدز يتصدر الترند بصورة بعد خسارة وزنه ..</p>
            </div>
            <div class="news-details">
                <p class="news-type">فن ومشاهير | منذ 20 ساعة</p>
                <p class="news-title mt-2">زين عبيد نجم ذا فويس كيدز يتصدر الترند بصورة بعد خسارة وزنه ..</p>
            </div>
            <div class="news-details">
                <p class="news-type">فن ومشاهير | منذ 20 ساعة</p>
                <p class="news-title mt-2">زين عبيد نجم ذا فويس كيدز يتصدر الترند بصورة بعد خسارة وزنه ..</p>
            </div>
            <div class="news-details">
                <p class="news-type">فن ومشاهير | منذ 20 ساعة</p>
                <p class="news-title mt-2">زين عبيد نجم ذا فويس كيدز يتصدر الترند بصورة بعد خسارة وزنه ..</p>
            </div>
        </div>
    </div>
</div>